html {
  font-size: 10px; /* px means 'pixels' : the base font size is now 10 pixels high */
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

html {
  background-color: #000000;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FCFCFC;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #EAE200;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 350px;
  opacity: 0.9;
  border: 0;
}
